
.body {
  background: url("https://img1.kienthucvui.vn/uploads/2022/01/03/anh-nghe-thuat-ve-cuon-sach_093706002.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px
  rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  height: 460px;
  margin-top: 100px;
  margin-bottom: -55px;
}

.main h2 {
  color: #4caf50;
  margin-bottom: 1px;
  margin-top: 1px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  /* margin-bottom: 9px; */
  margin-top: -6px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-top: 6px;
}
p {
  margin-top: 3px;
  font-size: 11px;
  text-align: center;
  color: #555;

}

