.button {
    background-color: #81c408a6; /* Green */
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  .button3 {border-radius: 8px;}
  a {
    color: #000000a1;
    text-decoration: none;
}
.product__add {
    text-align: right;
}
.dssp {
    margin-top: 2.5rem !important;
}
.adminuser {
    width: 500px;
    margin: auto;
}
.product__add {
    width: 100%;
    padding: 10px;
}

.fromsearch-adduser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fromsearch {
    flex: 1;
}

.adduser {
    margin-left: 20px;
}

.form-inline {
    display: flex;
    width: 100%;
}

.input-group {
    width: 100%;
}



.button3:hover {
    background-color: #45a049;
}
input[type="number"] {
    width: -webkit-fill-available;
    width: 100%;
    /* margin-bottom: 9px; */
    margin-top: -6px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
textarea {
    width: -webkit-fill-available;
    width: 100%;
    /* margin-bottom: 9px; */
    margin-top: -6px;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.error {
    color: #dc3545;
    font-size: 1rem;
    position: relative;
    line-height: 1;
}
.pagination {
    display: inline-block;
    margin-left: 900px;
  }
  
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }